/* Estilos para a tela inteira */
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.scroll-view {
    padding: 12px;
    background-color: #fff;
    flex: 1;
    padding-bottom: 80px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-bottom: 30px;
}

.back-button {
    font-size: 24px;
    color: #3f3f3f;
    text-decoration: none;
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

/* Campos de Data */
.date-container {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 20px;
}

.date-field-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* Títulos das seções e rótulos dos inputs */
.section-title {
	font-size: 18px;
    font-weight: bold;
    margin-top: 25px; /* Aumentado para 25px para mais espaço */
    color: #000000;
}

.label {
    font-size: 15px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
	
}

/* Campos de input */
.input {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
    color: #555;
    margin-bottom: 12px;
}

/* Layout de duas colunas */
.row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
}

.col {
    flex: 1;
}

/* Botão de Cadastrar */
.button {
    background-color: #0C4A6E;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    border: none;
}

.button-text {
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

/* Adicione esta regra */
.medidas-title + .row {
    margin-top: 25px; /* Aumente este valor para o espaçamento desejado */

}

.button-container {
    margin-top: auto;
    padding-bottom: 24px; /* Espaço opcional do fundo */
}

/* Texto entre parênteses nas labels */
.paren { font-size: 11px; }